body{
    margin: 0;
}

p{
    margin: 0 0 0 0;
}

#navbar{
    height: 50px;
    width: 100%;
    border-bottom: 2px solid white;
    background-color: #1d1d1d;
    opacity: 0.5%;
    position: fixed;
    color: white;
}

#navbar a{
    text-decoration: none
}

#home{
    background-image: url("./images/16992727.900000002_pexels-photo-1199958.jpeg");
    width: 100vw;
    height: 100vh;
    background-repeat: flex;
    background-size: contain;
}

#about{
    background-image: url("./images/16962679.400000002_pexels-photo-750073.jpeg");
    width: 100vw;
    height: calc(100vh - 50px);
}

.card{
    padding: 50px; 
}

.card p{
    color: white;
}

#menu{
    background-image: url("./images/16971021.500000004_pexels-photo-745988.jpeg");
    width: 100vw;
    height: calc(100vh - 50px);
}

#contact{
    background-image: url("./images/16996266.400000002_menu-restaurant-vintage-table.jpg");
    width: 100vw;
    height: calc(100vh - 50px);
}