body{
    margin: 0;
}

#navbar{
    height: 50px;
    width: 100%;
    border-bottom: 2px solid white;
    background-color: #1d1d1d;
    opacity: 0.5%;
    position: fixed;
}

#home{
    background-image: url("./images/16992727.900000002_pexels-photo-1199958.jpeg");
    width: 100vw;
    height: 100vh;
    background-repeat: flex;
    background-size: contain;
    /* background-size: 100% 100%; */
    /* background-position: center center; */
}

#about{
    background-image: url("./images/16962679.400000002_pexels-photo-750073.jpeg");
}

#menu{
    background-image: url("./images/16971021.500000004_pexels-photo-745988.jpeg");
}

#menu{
    background-image: url("./images/16996266.400000002_menu-restaurant-vintage-table.jpg");
    
}